*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media only screen and(max-width:768px) {
    .cont{
        flex-direction: column;
        justify-content: center;
    }
    .cont .sec1{
        flex-direction: row;
    }
}